{% extends 'blog/base.html' %}

{% block content %}
<div class="post-detail-flex">
    <div class="post-content">
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <div class="actions-row">
        {% if user.is_authenticated %}
            {% if not post.published_date %}
                <form method="post" action="{% url 'post_publish' pk=post.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary" title="Publish">
                        {% include './icons/file-earmark-plus.svg' %}
                        Publish
                    </button>
                </form>
            {% endif %}
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}" title="Edit">
                {% include './icons/pencil-fill.svg' %}
            </a>
            <form method="post" action="{% url 'post_remove' pk=post.pk %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary" title="Delete">
                    {% include './icons/trash-fill.svg' %}
                </button>
            </form>
        {% endif %}
    </div>
</div>

<hr>
<div id="comments">
    <a class="btn btn-secondary" role="button" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
                   {% include './icons/hand-thumbs-down.svg' %}
                </a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
                   {% include './icons/hand-thumbs-up.svg' %}
                </a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
</div>

{% endblock %}
